.topic-buttons .topic.topic-0 {
  background: url("../../assets/blue-tag.png") center/contain no-repeat;
}
.topic-buttons .topic.topic-1 {
  background: url("../../assets/green-tag.png") center/contain no-repeat;
}
.topic-buttons .topic.topic-2 {
  background: url("../../assets/orange-tag.png") center/contain no-repeat;
}
.topic-buttons .topic.topic-3 {
  background: url("../../assets/violet-tag.png") center/contain no-repeat;
}
.topic-buttons h4 {
  color:white;
}
.topic-buttons .topic {
  height:336px;
  padding: 22% 20%;
  box-sizing: border-box;
}
